# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
	// apiKey: "AIzaSyDn0j9DDi1_vgWAH68N5_eEAAa_aCbnDms",
	// authDomain: "coffee-project-july-2025.firebaseapp.com",
	// projectId: "coffee-project-july-2025",
	// storageBucket: "coffee-project-july-2025.firebasestorage.app",
	// messagingSenderId: "755049873794",
	// appId: "1:755049873794:web:403af5f6cdea5d6e898f9b",