.country {
	border: 2px solid skyblue;
	margin: 15px;
	padding: 15px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}
.country-container {
	display: grid;

	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}
img {
	width: 300px;
}
.visited {
	background-color: bisque;
}
